---
import "../assets/css/styles.css";
---
<footer class="footer">
  <p>Created with ❤️ and ☕ using F# and .NET</p>
  <p>by Ali Baghernejad</p>
  <div>
    <a href="https://basecamp.com"><img src="/src/assets/fscrobble-v0.0.2-footer.png" width="256" height="" alt="Basecamp"></a>
  </div>
  <p>&copy; 2025 FScrobble. All rights reserved.</p>
</footer>