<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>FScrobble: a Music Scrobbling Service.</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<!-- 
<style>
html,body {
    align-items: stretch;
    background: var(--color-background-night);
    color: var(--color-terminal-blue);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 300;
    line-height: var(--line-height);
    min-height: 100vh
}
</style> -->
